<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mogreene.backend.board.repository.BaseRepository">

    <insert id="postBaseBoard" parameterType="BoardDto" useGeneratedKeys="true" keyProperty="boardNo">
        INSERT INTO
            base_board(
                category_board
            )

        VALUES
            (#{categoryBoard})
        ;
    </insert>
</mapper>
